@using SanjeshP.RDC.Web.SharedViewModels
@model TwoFactorViewModel

<div class="container">
    <h2>تایید کد</h2>
    <form asp-action="ConfirmCode" method="post">
        <div class="form-group">
            <label for="verificationCode">کد تایید:</label>
            <input type="text" class="form-control" id="verificationCode" name="VerificationCode" asp-for="VerificationCode">
            <span asp-validation-for="VerificationCode" class="text-danger"></span>
        </div>
        <button type="submit" class="btn btn-primary">تایید</button>
    </form>
</div>
