@using SanjeshP.RDC.Web.SharedViewModels
@model LoginViewModel
@{
    ViewData["Title"] = "ورود به سامانه";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
@if (Context.Request.Query["reason"] == "tokenExpired")
{
    <p class="text-danger">توکن شما منقضی شده است. لطفاً دوباره وارد شوید.</p>
}
<h3 class="title">ورود به سامانه</h3>
<div class="login-line"></div>

<div class="errorMessages" style="display: none;"></div>
<div class="warningMessages" style="display: none;"></div>


<form asp-action="Login" method="post">
    <div class="row align-items-center">
        <div class="mt-2">
            <span asp-validation-for="UserName" class="text-danger h6 d-md-block"></span>
            <span asp-validation-for="Password" class="text-danger h6 d-md-block"></span>
        </div>
        <div class="mt-2">
            <label class="radio-container">
                <input type="radio" name="Uu" value="password" checked="checked">ورود با کد ملی
                <span class="checkmark"></span>
            </label>
            <label class="radio-container">
                <input type="radio" name="Uu" value="password-foreign">ورود با کد فیدا (اتباع خارجی)
                <span class="checkmark"></span>
            </label>
        </div>
        <div asp-validation-summary="ModelOnly" class="text-danger"></div>
        <div class="col-md-12 mt-2">
            <div class="row align-items-center">
                <div class="form-group">
                    <label asp-for="UserName" placeholder="" class="control-label col-sm-4"></label>
                    <input asp-for="UserName" class="form-control col-sm-7 d-inline-block" placeholder=@Html.DisplayNameFor(m=>m.UserName) />

                </div>
            </div>
        </div>
        <div class="col-md-12 mt-2">
            <div class="row align-items-center">
                <div class="form-group">
                    <label asp-for="Password" placeholder="" class="control-label col-sm-4"></label>
                    <input asp-for="Password" class="form-control col-sm-7 d-inline-block" placeholder=@Html.DisplayNameFor(m=>m.Password) />
                </div>
            </div>
        </div>
        <div class="form-group form-check">
            <input type="checkbox" class="form-check-input" id="rememberMe" name="RememberMe" asp-for="RememberMe">
            <label class="form-check-label" for="rememberMe">مرا به خاطر بسپار</label>
        </div>
        <div class="forgotten-password"><a asp-controller="Login" asp-action="RecoveryPassword">گذرواژه را فراموش کرده ام</a></div>
        <div style="text-align: right ">
            <button type="submit" class="btn btn-success login-button">ورود</button>
        </div>
    </div>
</form>
<div class="login-line"></div>
<p class="registration-text mt-2"> حساب کاربری ندارید؟ <a asp-controller="Identity" asp-action="Register">ثبت نام  </a></p>
