
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>AccessDenied</title>
    <link href="/css/searederror.css" rel="stylesheet" />
</head>
<body>
    <div class="page-wrap">
        <div class="page-not-found">
            <img src="https://res.cloudinary.com/razeshzone/image/upload/v1588316204/house-key_yrqvxv.svg" class="img-key" alt="">
            <h1 class="text-xl">
                <span>4</span>
                <span>0</span>
                <span class="broken">3</span>
            </h1>
            <h4 class="text-md">عدم سطح دسترسی !</h4>
            <h4 class="text-sm text-sm-btm">شما به این بخش از برنامه دسترسی ندارید. برای رفع انسداد این ویژگی با اپراتور سامانه تماس بگیرید. می توانید برگردید به 
                <a href="/Account/Login">صفحه ورود به سیستم</a>
                یا در صورتی که قبلا وارد سیستم شده این برگردید به 
                <a href="/Admin/Home/Index">صفحه اصلی</a>
            </h4>
        </div>
    </div>
</body>
</html>
