@using SanjeshP.RDC.Web.SharedViewModels
@model ResetPasswordViewModel

<div class="container">
    <h2>بازنشانی رمز عبور</h2>
    <form asp-action="ResetPassword" method="post">
        <div class="form-group">
            <label for="userId">شناسه کاربر:</label>
            <input type="hidden" class="form-control" id="userId" name="UserId" asp-for="UserId">
        </div>
        <div class="form-group">
            <label for="verificationCode">کد تایید:</label>
            <input type="text" class="form-control" id="verificationCode" name="VerificationCode" asp-for="VerificationCode">
            <span asp-validation-for="VerificationCode" class="text-danger"></span>
        </div>
        <div class="form-group">
            <label for="newPassword">رمز عبور جدید:</label>
            <input type="password" class="form-control" id="newPassword" name="NewPassword" asp-for="NewPassword">
            <span asp-validation-for="NewPassword" class="text-danger"></span>
        </div>
        <div class="form-group">
            <label for="confirmNewPassword">تکرار رمز عبور جدید:</label>
            <input type="password" class="form-control" id="confirmNewPassword" name="ConfirmNewPassword" asp-for="ConfirmNewPassword">
            <span asp-validation-for="ConfirmNewPassword" class="text-danger"></span>
        </div>
        <button type="submit" class="btn btn-primary">بازنشانی</button>
    </form>
</div>
