@using System.Diagnostics
@using SanjeshP.RDC.Web.Areas.Admin.Models.DTO_Menu
@model List<ListMenuUserAccessDto>

@{
    ViewData["Title"] = "MenuBar";
}


<div class="row">
    <div class="col-md-1">
        <a onclick="ExpandAll()" title="گسترش دادن">
            <i class="fa fa-expand" aria-hidden="true"></i>
        </a>
        <a onclick="CollapseAll()" title="جمع کردن">
            <i class="fa fa-compress" aria-hidden="true"></i>
        </a>
    </div>
    <div class="col-md-11">
        <input id="deliverable_search" type="text" class="form-control" placeholder="جستجو">
    </div>
</div>
<div class="row overflow-auto border" style="max-height:50vh">
    <div class="col-md-12 p-2">
        <div id="accesstree"></div>
    </div>
</div>
<div class="row">
    <div class="col-md-12">
        <input class="btnGetCheckedItem btn btn-success mt-3" value="ثبت دسترسی" type="button" />
    </div>
</div>
<span id="idshow"></span>
@section scripts {
    <script>
        $(function () {
            var userid = ('@ViewData["userId"]');
            $.post("/Admin/Users/GetTreeView_AccessMenu?userSelectedId=" + userid, function (data) {
                createJSTree(JSON.parse(data));  // Get Data For Tree View
            });
            // Create Tree View
            function createJSTree(data) {
                var tree = $('#accesstree').jstree({
                    "core": {
                        "data": data
                    },
                    "check_callback": true,
                    "checkbox": {
                        "keep_selected_style": true
                    },
                    "demo": {
                        "icon": "glyphicon glyphicon-ok"
                    },
                    'search': {
                        'case_insensitive': true,
                        'show_only_matches': true
                    },
                    'plugins': ['search', 'checkbox', 'wholerow']
                }).on('search.jstree', function (nodes, str, res) {
                    if (str.nodes.length === 0) {
                        $('#deliverables').jstree(true).hide_all();
                    }
                })
                $('#deliverable_search').keyup(function () {
                    $('#accesstree').jstree(true).show_all();
                    $('#accesstree').jstree('search', $(this).val());
                });
            };

            $('.btnGetCheckedItem').click(function () {
                var checked_ids = [];
                var selectedNodes = $('#accesstree').jstree("get_undetermined", true);
                $.each(selectedNodes, function () {
                    checked_ids.push(this.id);
                });
                var selectedNodes = $('#accesstree').jstree("get_selected", true);
                $.each(selectedNodes, function () {
                    checked_ids.push(this.id);
                });
                $.get("/UserProfile/Modify_SelectedNodes_SelectedUser?list=" + checked_ids + "&userId=" + '@ViewData["userId"]', function (data) {
                    if (data.statusCode == 'Success') {
                        $("#ListMenu").load("MenuBar");
                        Swal.fire({
                            toast: true,
                            position: 'top-end',
                            showConfirmButton: false,
                            timerProgressBar: true,
                            showCloseButton: true,
                            width: '35%',
                            text: "اصلاح دسترسی با موفقیت انجام شد.",
                            icon: "success",
                            timer: 3000,
                            didOpen: (toast) => {
                                toast.addEventListener('mouseenter', Swal.stopTimer)
                                toast.addEventListener('mouseleave', Swal.resumeTimer)
                            }
                        });
                    }
                    else {
                        Swal.fire({
                            toast: true,
                            position: 'top-end',
                            showConfirmButton: false,
                            timerProgressBar: true,
                            showCloseButton: true,
                            width: '35%',
                            text: "در ثبت اطلاعات خطایی رخ داده است. با پشتیبان سیستم تماس بگیرید.",
                            icon: "error",
                            timer: 3000,
                            didOpen: (toast) => {
                                toast.addEventListener('mouseenter', Swal.stopTimer)
                                toast.addEventListener('mouseleave', Swal.resumeTimer)
                            }
                        });
                    }
                });
            });
        });

        var open = false;
        function CollapseAll() {
            $("#accesstree").jstree('close_all');
            open = false;
        }
        function ExpandAll() {
            $("#accesstree").jstree('open_all');
            open = true;
        }
    </script>
}