@{
    Layout = null;
}
<div class="row">
    <div class="p-4">
        <div class="text-danger m-2">عدم وجود دسترسی!!! </div>
        <div class="text-danger m-2">شما مجوز استفاده از این صفحه را ندارید</div>
    </div>
</div>

