@model SanjeshP.RDC.Web.Models.Identity.RegisterDTO
@{
    ViewData["Title"] = "Register";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h3 class="title">ثبت نام</h3>
<div class="login-line"></div>

<div class="errorMessages text-danger" id="errorMessages" style="display: none;">
    <div id="alert_Mobile" class="mt-1" style="display: none">شماره همراه وارد شده قبلا در سامانه ثبت شده است.</div>
    <div id="alert_NationalCode" class="mt-1" style="display: none">کد ملی وارد شده قبلا در سامانه ثبت شده است.</div>
</div>
<div class="warningMessages" style="display: none;"></div>
<form method="post" asp-controller="Identity" asp-action="Register">
    <div class="row align-items-center">
        <div class="mt-2">
            <label class="radio-container">
                <input type="radio" name="Uu" value="nationalcode" checked="checked">ثبت نام با کد ملی
                <span class="checkmark"></span>
            </label>
            <label class="radio-container">
                <input type="radio" name="Uu" value="nationalcode-foreign">ثبت نام با کد فیدا (اتباع خارجی)
                <span class="checkmark"></span>
            </label>
        </div>
        <div class="col-md-12 mt-2">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="col-md-12 mt-2">
                <div class="row align-items-center">
                    <div class="form-group">
                        <label asp-for="FirstName" placeholder="" class="control-label col-sm-4"></label>
                        <input asp-for="FirstName" class="form-control col-sm-7 d-inline-block" placeholder=@Html.DisplayNameFor(m=>m.FirstName) />
                        <span asp-validation-for="FirstName" class="text-danger h6 d-md-block"></span>
                    </div>
                </div>
            </div>
            <div class="col-md-12 mt-2">
                <div class="row align-items-center">
                    <div class="form-group">
                        <label asp-for="LastName" class="control-label col-sm-4"></label>
                        <input asp-for="LastName" class="form-control col-sm-7 d-inline-block" placeholder=@Html.DisplayNameFor(m=>m.LastName) />
                        <span asp-validation-for="LastName" class="text-danger h6 d-md-block"></span>
                    </div>
                </div>
            </div>
            <div class="col-md-12 mt-2">
                <div class="row align-items-center">
                    <div class="form-group">
                        <label asp-for="NationalCode" class="control-label col-sm-4"></label>
                        <input asp-for="NationalCode" class="form-control col-sm-7 d-inline-block" placeholder=@Html.DisplayNameFor(m=>m.NationalCode) />
                        <span asp-validation-for="NationalCode" class="text-danger h6 d-md-block"></span>

                    </div>
                    @if (ViewBag.IsNationalCodeExist != null)
                    {
                        <div class="alert alert-danger">
                            <span class="text-muted">
                                کدملی وارد شده قبلا در سامانه ثبت شده است.
                            </span>
                        </div>
                    }
                </div>
            </div>
            <div class="col-md-12 mt-2">
                <div class="row align-items-center">
                    <div class="form-group">
                        <label asp-for="PhoneNumber" class="control-label col-sm-4"></label>
                        <input asp-for="PhoneNumber" class="form-control col-sm-7 d-inline-block" placeholder=@Html.DisplayNameFor(m=>m.PhoneNumber) style="direction: rtl;" />
                        <span asp-validation-for="PhoneNumber" class="text-danger h6 d-md-block"></span>
                    </div>
                    @if (ViewBag.IsMobileExist != null)
                    {
                        <div class="alert alert-danger">
                            <span class="text-muted">
                                شماره همراه وارد شده قبلا در سامانه ثبت شده است.
                            </span>
                        </div>
                    }
                </div>
            </div>
            <div style="text-align: right ">
                <button type="submit" class="login-button">ثبت نام</button>
            </div>
        </div>
    </div>
</form>
<div class="login-line"></div>
<p class="registration-text mt-2">برگشت به صفحه <a asp-controller="Identity" asp-action="Login"> ورود به سامانه</a></p>
<script src="https://code.jquery.com/jquery-3.6.1.min.js" integrity="sha256-o88AwQnZB+VDvE9tvIXrMQaPlFFSUTR+nldQm1LuPXQ=" crossorigin="anonymous"></script>
<script>
    $(document).on("blur", "input[name='Mobile']", function () {

        $.ajax({
            url: "/Home/CheckMobile?mobile=" + $("input[name='Mobile']").val(),
            type: "Get"

        }).done(function (res) {
            if (res.toString() == "true") {
                $("#alert_Mobile").show();
                $("#errorMessages").show();
            } else {
                $("#alert_Mobile").hide();
                $("#errorMessages").hide();
            }
        });
    });
    $("input[name='NationalCode']").on("blur", function () {
        $.ajax({
            url: "/Home/CheckNationalCode?nationalCode=" + $("input[name='NationalCode']").val(),
            type: "Get"

        }).done(function (res) {
            if (res.toString() == "true") {
                $("#alert_NationalCode").show();
                $("#errorMessages").show();
            } else {
                $("#alert_NationalCode").hide();
                $("#errorMessages").hide();
            }
        });
    });
</script>

